
@import "tailwindcss";
@import "./fonts.css";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
}

@theme {
    --breakpoint-lg: 74rem;
    --font-poppins: 'Poppins', sans-serif;
}